.simplebar-offset{
    width: 95%;
  }
  
  .simplebar-scrollbar{
    background-color: white;
    width: 3px;
  }
  
  .simplebar-track.simplebar-vertical{
    background-color: #443d3d;
    width: 3px !important;
  }