@import '../../styles/settings/colors.settings';

.c-detail{

    background-color: $bg-primary;
    color: $text-primary;
    height: 100vh;
    text-align: center;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button{
        margin-left: 10px;
        background-color: $bg-primary;
        color: $text-primary;
        font-size: .9em;
        border: 0;
        cursor: pointer;
        
    }

    &__button::before{
       content: '<<<<< ';
    }

    &__head{
        margin-bottom: 50px;
    }

    
    
    &__figure{
        margin: 0 auto;
        width: 248px;
        height: 320px;
        
        &--text{
            margin-top: 10px;
            font-size: 1.2em;
        }
    }

    &__info{
        margin: 0;
        width: 248px;
        height: 231px;

        &--text{
            font-size: 0.6em;
        }

        &--img{
            width: 160px;
            height: 191.6px;
        }
    }
}