.c-menu{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 1.3em;


    &__list{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    &__link{
        text-decoration: none;
        // color: $text-primary;
        color: #FFF;
        padding: 3px;
    }
}