@import '../../styles/settings/colors.settings';


.c-home{
    background-image: url(../../assets/img/bg_got.png);
    height: 100vh;
    background-size: cover;

    &__title{
        text-align: center;
        font-size: 8em;
        color: $text-primary;
    }
   
}