.c-home{
    width: 100%;
    height: 100%;

    &__bg{
        // background-image: url('../../assets/img/image/bg_got.png');
        background-size: cover;
    }

    &__title{
        text-align: center;
        color: #ffffff;
    }

    // &__menu{
    //     position: fixed;
    //     bottom: 0;
    //     border:solid;
    //     width: 100%;
    //     text-align: center;
    // }
   
}